{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<h1>{{ pregunta.texto.pregunta }}</h1>
    <ul>
          <!-- 
            select from
            pregunta join eleccion on pregunta.id 
            where pregunta.id =1
            -->
        {% for eleccion in pregunta.eleccion_set.all %}
            <li>
                {{ eleccion.texto_eleccion }} -- {{ eleccion.votos }} voto{{ eleccion.votos|pluralize }}

            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'polls:detalle' pregunta.id %}"> votar de nuevo</a>
